<h1>Employees#show</h1>

<h3>Individual Data </h3>
<ul>
    <% @individual_data.each do |k, v| %>
        <li>
            <p>
                <strong><%= k %></strong>
                <%= v %>
            </p>
        </li>
    <% end %>
</ul>
